VITE_API_URL=http://127.0.0.1:8000

MOCK_LLM=false
AWS_REGION=ap-southeast-2
MODEL_ID=amazon.nova-pro-v1:0

AWS_ACCESS_KEY_ID=AKIAUZPNLUN6ZXWCQQ3Z
AWS_SECRET_ACCESS_KEY=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